[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "airqualityES"]
	path = airqualityES
	url = https://github.com/jdieramon/airqualityes
